﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masterpage/mp1.Master" AutoEventWireup="true" CodeBehind="patient2.aspx.cs" Inherits="Patientproject.Page.patient2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="container">

        <h3>Patient <span class="label label-default">New</span></h3>
        <table <%--class="table-patient"--%> class="table table-striped">

            <tr>
                <td class="td-id">ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Gender</td>
                <td>DOB</td>
                <td>Active</td>
                <td>Creation</td>
            </tr>

            <tr>
                <td class="td-id">3</td>
                <td>Ahmad</td>
                <td>ahmad@gmail.com</td>
                <td>male</td>
                <td>1/3/2015</td>
                <td>true</td>
                <td>byAhmad at 1/1/2015</td>
            </tr>


            <tr>
                <td class="td-id">4</td>
                <td>Ali</td>
                <td>Ali@gmail.com</td>
                <td>male</td>
                <td>2/5/2018</td>
                <td>true</td>
                <td>by Ali at 26/8/2018</td>
            </tr>
        </table>



        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="patient.aspx" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="patient.aspx">1</a></li>
                <li><a href="patient2.aspx">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="patient2.aspx" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>


        <a href="PatientEdit.aspx" class="btn btn-default btn-lg active" role="button">Add</a>

    </div>


</asp:Content>
