﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ctr_user_login.ascx.cs" Inherits="opensooqtest.ctr_user_login" %>
<p>
    Welcom&nbsp;
    <asp:Label ID="lblUsername" runat="server"></asp:Label>
&nbsp;<asp:Button ID="btnLogout" runat="server" OnClick="btnLogout_Click" Text="Logout" />
</p>

