﻿
.table-patient-edit {
    width: 100%;
    margin-left: 10px;
   height:100%;

}


    .table-patient-edit th td {
        width: 25%;
   
    }

    .table-patient-edit th {
       text-align:left;
    }

    .table-patient-edit tr {
       margin-top:20px;
    }