﻿
/** {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}*/

.sitebare {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #000000;
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    .sitebare ul li {
        color: aliceblue;
        list-style: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        /*padding:15px 10px;*/
    }




.list {
    line-height: 70px;
}

    .list li a {
        display: block;
        text-decoration: none;
        color: #999999;
    }

        .list li a:hover {
            text-decoration: none;
            color: #fff;
            background: rgba(255, 255, 255, 0.2);
            font-size: 30px;
        }

      


.div_bodyy {
    margin-left: 200px;
}
