﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masterpage/mp1.Master" AutoEventWireup="true" CodeBehind="PatientEdit.aspx.cs" Inherits="Patientproject.Page.editpatient" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">


    <link href="../CSS/table.css" rel="stylesheet" type="text/css" />


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <h1>Patient (New) </h1>
    <table class="table-patient-edit">
        <tr>
            <th>User name :</th>
            <td>
                <input type="text" id="txtUsername" class="form-control" /></td>
            <th>Email :</th>
            <td>
                <input type="text" id="txtEmail" class="form-control" /></td>

        </tr>



        <tr>
            <th>Middele name :</th>
            <td>
                <input type="text" id="txtMaddilname" class="form-control" /></td>

            <th>Data of birth : </th>
            <td>
                <input type="text" id="txtDataofbirth" class="form-control" /></td>
        </tr>



        <tr>
            <th>Last name :</th>
            <td>
                <input type="text" id="txtLastname" class="form-control" /></td>



            <th>Last check  :</th>
            <td>
                <input type="text" id="txtLastcheck" class="form-control" /></td>

        </tr>



        <tr>
            <th>status : </th>
            <td>
                <select class="form-control">
                    <option>Draft</option>
                    <option>Seved</option>
                    <option>Delete</option>
                    <option>Canceled</option>
                </select>

            </td>

            <th>Gender : </th>
            <td>
                <input type="radio" name="gender" value="0" />Male
                <input type="radio" name="gender" value="1" />Female
                          

            </td>
        </tr>



        <tr>
            <th>Action : </th>
            <td>
                <input type="checkbox" /></td>
            <th></th>
            <td></td>


        </tr>
    </table>





</asp:Content>
