﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="mp1.master.cs" Inherits="Patientproject.mp1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Patient</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <link href="../CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../CSS/cssmasterpage1.css" rel="stylesheet" type="text/css" />

    
</head>

<body>
    <form id="form1" runat="server">



        <div class="sitebare">
            
            <ul class="list">
                <li><a href="patient.aspx">Patient</a></li>
                <li><a href="user.aspx">User</a></li>
            </ul>

        </div>

        <div class="div_bodyy">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <br />
        </div>
    </form>
</body>
</html>
